.input, textarea {
    color: red;
}
.header {
    background-color: #3498DB;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body {
    background-color: #AED6F1;
}
.p1 {
    height: 50px;
    display: flex;
    align-items: center
}
